@import "tailwindcss";
@plugin "daisyui";

@theme {
  --color-background: #F0F0F0;
  --color-lightblue: #D3EEEE;
  --color-sky_blue: #a3d8d7;
  --color-darkblue: #2D2D2D;
  --color-blue_green: #27A19F;
  --color-darkblue_green: #126665;
  --color-skyblue: #F1FBFC;
  --color-lightgrey: #40464D;
  --color-grey: #393E44;
  --color-lightred: #800000;
  --color-lightblack: #CDD5D6;
  --color-lightgray: #d6dddd;
}

